[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "Ceph is a distributed object, block, and file storage platform "
[access "refs/*"]
	owner = group user/Zhu Lingshan (ls-zhu)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Zhu Lingshan (ls-zhu)
	label-Verified = -1..+1 group user/Zhu Lingshan (ls-zhu)
	push = group user/Zhu Lingshan (ls-zhu)
	read = group user/Zhu Lingshan (ls-zhu)
	rebase = group user/Zhu Lingshan (ls-zhu)
	removeReviewer = group user/Zhu Lingshan (ls-zhu)
	submit = group user/Zhu Lingshan (ls-zhu)
[access "refs/heads/*"]
	create = group user/Zhu Lingshan (ls-zhu)
	push = +force group user/Zhu Lingshan (ls-zhu)
	pushMerge = group user/Zhu Lingshan (ls-zhu)
	read = group user/Zhu Lingshan (ls-zhu)
[access "refs/tags/*"]
	push = group user/Zhu Lingshan (ls-zhu)
	push = +force group user/Zhu Lingshan (ls-zhu)
